# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django specific
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.db-journal
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
ENV/
.venv/
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# PyCharm specific
.idea/

# Flask specific
instance/

# Test and coverage reports
*.cover
*.coverage
.coverage.*

# Distribution files
*.tar.gz
*.zip
*.tar
*.egg
*.egg-info/
dist/
build/
eggs/

# Jupyter Notebook specific
.ipynb_checkpoints/

# System files
*.swp
*.swo

media/

*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py
